/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests.v11.suo
/ElyRoeland/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests.v11.suo
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame/obj
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame/bin
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests/obj
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests/bin
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame.Unittests/obj
/CorneJiri/BowlingGame.AcceptatieTests/BowlingGame.Unittests/bin
/CorneJiri/BowlingGame.AcceptatieTests/TestResults
/ElyRoeland/BowlingGame.AcceptatieTests/BestBowlingGame/obj
/ElyRoeland/BowlingGame.AcceptatieTests/BestBowlingGame/bin
/ElyRoeland/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests/obj
/ElyRoeland/BowlingGame.AcceptatieTests/BowlingGame.AcceptatieTests/bin
/ElyRoeland/BowlingGame.AcceptatieTests/BowlingGame.UnitTests/obj
/ElyRoeland/BowlingGame.AcceptatieTests/BowlingGame.UnitTests/bin
/ElyRoeland/BowlingGame.AcceptatieTests/TestResults
/Freek/BowlingTests.UnitTests/BowlingGame/obj
/Freek/BowlingTests.UnitTests/BowlingGame/bin
/Freek/BowlingTests.UnitTests/BowlingGame.AcceptatieTests/obj
/Freek/BowlingTests.UnitTests/BowlingGame.AcceptatieTests/bin
/Freek/BowlingTests.UnitTests/BowlingTests.UnitTests/bin
/Freek/BowlingTests.UnitTests/BowlingTests.UnitTests/obj
/Freek/BowlingTests.UnitTests/TestResults
/Freek/BowlingTests.UnitTests/BowlingTests.UnitTests.v11.suo
/Erik/BowlingGame/BowlingGame/obj
/Erik/BowlingGame/BowlingGame/bin
/Erik/BowlingGame/BowlingGame.UnitTest/obj
/Erik/BowlingGame/BowlingGame.UnitTest/bin
/Erik/BowlingGame/BowlingGame.v12.suo
/Freek-f#/BowlingGame/.vs
/Freek-f#/BowlingGame/TestResults
/Freek-f#/BowlingGame/BowlingGame.UnitTest/obj
/Freek-f#/BowlingGame/BowlingGame.UnitTest/bin
/Freek-f#/BowlingGame/BowlingGame/obj
/Freek-f#/BowlingGame/BowlingGame/bin
/Jiri-F#/BowlingGame/BowlingGame.UnitTest/bin
/Jiri-F#/BowlingGame/BowlingGame.UnitTest/obj
/Jiri-F#/BowlingGame/BowlingGame/bin
/Jiri-F#/BowlingGame/BowlingGame/obj
*.suo
*.user
*.coverage